<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{categoria.name}}">

  <ion-nav-title>

   <!-- search box-->
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="$parent.search.name" placeholder="Search">
      </label>
      <button class="button button-clear" ng-click="$parent.search='';">
        Cancel
      </button>
    </div>
  </ion-nav-title>

  <ion-content padding-vertical has-bouncing="true">
    <ion-refresher on-refresh="refreshEstabelecimentos()" pulling-icon="false"></ion-refresher>

    <!-- estabelecimentos -->
    <ion-list id="events-card-list">
      <a class="card item item-thumbnail-left tappable estab-adjust" type="item-text-wrap" ng-repeat="estabelecimento in categoria | orderBy: '-checkin' | filter: $parent.search as results" href="#/tab/categorias/{{categoria.id}}">
        <img ng-src="{{estabelecimento.avatar}}">
        <h2 ng-bind="estabelecimento.name"></h2>
        <p ng-bind="estabelecimento.checkin"></p>
      </a>
    </ion-list>

    <!-- no results -->
    <ion-item ng-if="results.length === 0">No results found </ion-item>

  </ion-content>
</ion-view>
