<ion-view view-title={{listTitle}} hide-nav-bar="true">

  <!-- content -->
  <ion-content class="container" has-bouncing="true">
  	<back-button ng-click="goBack()"></back-button>
  	<h2 class="list-title">{{listType}}</h2>

    <ion-refresher on-refresh="refreshAll()" pulling-icon="false"></ion-refresher>
    <dataset-card-list list="datasets" ng-if="listType === 'Datasets'"></dataset-card-list>

    <visualization-card-list list="visualizations" ng-if="listType === 'Visualizações'"></visualization-card-list>

    <a ng-if="listType === 'Tags'" class="search-list" ng-repeat="tag in tags" href="#/tab/explore/tag-list/{{tag.id}}">
      <p ng-bind="tag.name"></p>
      <hr>
    </a>

  </ion-content>
</ion-view>
