<ion-view view-title={{listTitle}} hide-nav-bar="true">

  <!-- content -->
  <ion-content class="container" has-bouncing="true">
  	<back-button ng-click="goBack()"></back-button>
  	<h2 style="display: inline-block; margin-left: 20px">{{listType}}</h2>

    <ion-refresher on-refresh="refreshNotifications()" pulling-icon="false"></ion-refresher>
    <square-card-list list="datasets" ng-if="listType === 'Datasets'"></square-card-list>

    <square-card-list list="visualizations" ng-if="listType === 'Visualizações'"></square-card-list>

    <div ng-repeat="tag in tags"  ng-if="listType === 'Tags'">
    {{tag.name}}
  </div>

  </ion-content>
</ion-view>
