<ion-view view-title="Criar Visualização" hide-nav-bar="true">

  <ion-content id="add-visualization" class="container" has-bouncing="true">
  	<div class="nav-box">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
      <ul class="list-unstyled multi-steps">
        <li>DATASETS</li>
        <li class="is-active">INFORMAÇÕES</li>
        <li>EIXOS</li>
      </ul>
      <button class="button button-icon icon ion-ios-arrow-forward" ng-click="openStep03()"></button>
    </div>

    <h4 style="margin:35px 0"> Preencha as informações da visualização</h4>

    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Nome</span>
	    <input type="text" placeholder="Nome">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Descrição</span>
	    <input type="text" placeholder="Descrição">
	  </label>
	  <label class="item item-input item-select">
	    <select>
	      <option>Tipo de gráfico</option>
	      <option>Barra</option>
	      <option>Linha</option>
	      <option>Pizza</option>
	    </select>
	  </label>
	</div>

	<h4 style="margin-top: 45px">Tags</h4>
    <div class="ds-card">
	    <div ng-if="$first" ng-repeat="tag in tags" class="tag-box">
	    {{tag.name}}
		</div>
      	<i ng-click="removeDS(0)" class="delete icon ion-ios-trash"></i>
    </div>

    <div class="icon-box" ng-click="openDatasetList()">
      <i class="plus icon ion-ios-plus-outline"></i>
      <h3>Adicionar tag</h3>
    </div>

  </ion-content>
</ion-view>

