<ion-view view-title="Criar Visualização" hide-nav-bar="true">

  <ion-content id="add-visualization" class="container" has-bouncing="true">
  	<div class="nav-box">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
      <ul class="list-unstyled multi-steps"">
        <li>DATASETS</li>
        <li>INFORMAÇÕES</li>
        <li class="is-active">EIXOS</li>
      </ul>
      <p ng-click="closeStep03()">Concluir</p>
	  </div>

    <h4 style="margin:35px 0">Configure os eixos</h4>

  	<img style="width: 100%;-bottom: 20px;" class="img-dados" src="img/grafico02.png"/>

  	<h4>Eixo X</h4>
    <div style="margin: 25px 0 45px;" class="icon-box" ng-click="openDatasetList()">
      <i class="plus icon ion-ios-plus-outline"></i>
      <h3>Adicionar eixo X</h3>
    </div>
    <hr>

  	<h4 style="margin-top: 45px">Eixo Y</h4>

    <div class="ds-card">
      <div id="notification-card-list">
        <div class="item adjust">
          <p>Receita Bruta</p>
        </div>
      </div>
      <i ng-click="removeDS(0)" class="delete icon ion-ios-trash"></i>
    </div>

    <div class="icon-box" ng-click="openDatasetList()">
      <i class="plus icon ion-ios-plus-outline"></i>
      <h3>Adicionar eixo Y</h3>
    </div>

  </ion-content>
</ion-view>

