<ion-view id="step03" view-title="Criar Visualização" hide-nav-bar="true">

  <ion-content id="add-visualization" class="container" has-bouncing="true">
  	<div class="nav-box">
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
      <ul class="list-unstyled multi-steps"">
        <li>DATASETS</li>
        <li>INFORMAÇÕES</li>
        <li class="is-active">EIXOS</li>
      </ul>
      <!-- <button class="button button-icon icon ion-ios-checkmark-outline" ng-click="showConcluir()"></button> -->
      <p ng-click="showConcluir()">POSTAR</p>
	  </div>

    <h4 style="margin:35px 0 25px">Configure os eixos da visualização</h4>

  	<img src="img/grafico05.png"/>

  	<h4>Eixo X</h4>
    <div class="ds-card" style="margin-bottom: 20px;">
      <div id="notification-card-list" class="card-adjust">
        <div class="item adjust" ng-click="showEixoX()">
          <p>Ano</p>
        </div>
      </div>
      <i ng-click="showDelete()" class="delete icon ion-ios-trash"></i>
    </div>

    <div style="margin: 0 0 20px;" class="icon-box" ng-click="showEixoX()">
      <i class="plus icon ion-ios-plus-outline"></i>
      <h3>Adicionar eixo X</h3>
    </div>
    <hr>

  	<h4 style="margin-top: 40px">Eixo Y</h4>

    <div class="ds-card" style="margin-bottom: 20px;">
      <div id="notification-card-list" class="card-adjust" ng-click="showEixoY()">
        <div class="item adjust" style="padding: 5px;">
          <div class="color-square"></div>
          <p>Receita Bruta</p>
        </div>
      </div>
      <i ng-click="showDelete()" class="delete icon ion-ios-trash"></i>
    </div>

    <div class="icon-box" ng-click="showEixoY()">
      <i class="plus icon ion-ios-plus-outline"></i>
      <h3>Adicionar eixo Y</h3>
    </div>

  </ion-content>
</ion-view>

