<ion-view  id="account" view-title="{{mainUser.name}}" hide-nav-bar="false">

  <ion-nav-title  ng-click="openUserProfile(0)">
    {{mainUser.name}}
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <img class="avatar" ng-src="{{mainUser.avatar}}" ng-click="openUserProfile(0)">
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <!-- <search-bar ng-model="search"></search-bar> -->
    <button ng-click="openSettings($event)" class="button button-icon icon ion-gear-a"></button>
  </ion-nav-buttons>

  <ion-tabs id="search-tabs" class="tabs-top tabs-light tabs-striped">
      <ion-tab title="VISUALIZAÇÕES" >
        <ion-content class="container has-tabs tab-adjust" has-bouncing="true">
          <visualization-card-list list="myVisualizations"></visualization-card-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="CURTIDAS">
        <ion-content class="container has-tabs tab-adjust" has-bouncing="true">
          <visualization-card-list list="myLiked"></visualization-card-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="SEGUIDAS">
        <ion-content class="container has-tabs tab-adjust" has-bouncing="true">
          <visualization-card-list list="myFollowed"></visualization-card-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="DATASETS">
        <ion-content class="container has-tabs tab-adjust" has-bouncing="true">
          <dataset-card-list list="myDatasets"></dataset-card-list>
        </ion-content>
      </ion-tab>
    </ion-tabs>

</ion-view>
