<ion-view view-title="Conta" hide-nav-bar="true">

  <!-- content -->
  <ion-content id="account-menu" class="container" has-bouncing="false">
    <ul>
      <li ng-click="openUserModal(0)" class="item-box">
        <img class="avatar" ng-src="{{mainUser.avatar}}">
        <p>Meu Perfil</p>
      </li>
      <li class="item-box">
        <img class="avatar" src="img/settings.png">
        <p>Configurações</p>
      </li>
      <li ng-click="openAccountListModal('visualizations')" class="item-box">
      <img class="avatar" src="img/chart.png">
        <p>Minhas Visualizações</p></li>
      <li ng-click="openAccountListModal('datasets')" class="item-box">
      <img class="avatar" src="img/database.png">
        <p>Meus Datasets</p>
      </li>
      <li ng-click="openAccountListModal('followed')" class="item-box">
      <img class="avatar" src="img/feed.png"">
        <p>Visualizações Seguidas</p>
      </li>
      <li ng-click="openAccountListModal('liked')" class="item-box">
      <img class="avatar" src="img/like.png">
        <p>Visualizações Curtidas</p>
      </li>
    </ul>

  </ion-content>
</ion-view>
