<ion-view view-title="Feed" hide-nav-bar="false">
  <ion-nav-title align="center">
    WikiOlap
  </ion-nav-title>

  <!-- content -->
  <ion-content class="container" has-bouncing="true">
    <ion-refresher on-refresh="refreshTimeline()" pulling-icon="false"></ion-refresher>

    <big-card item="timeline[0]"></big-card>
    <big-card item="timeline[1]"></big-card>
    <small-card item="timeline[5]"></small-card>
    <big-card item="timeline[2]"></big-card>
    <small-card item="timeline[3]"></small-card>
    <big-card item="timeline[4]"></big-card>

    <!-- <big-card item="timeline[0]"></big-card>
    <big-card item="timeline[1]"></big-card>
    <small-card item="timeline[3]"></small-card>
    <big-card item="timeline[4]"></big-card>
    <small-card item="timeline[5]"></small-card> -->

  </ion-content>
</ion-view>
