<ion-view view-title="Pesquisar">

  <ion-nav-title>
    <!-- search box -->
    <div class="bar bar-header item-input-inset" ng-click="openSearch()">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar">
      </label>
    </div>
  </ion-nav-title>

  <!-- content -->
  <ion-content class="container" has-bouncing="true">
    <ion-refresher on-refresh="refreshAll()" pulling-icon="false"></ion-refresher>

    <div class="explore-title">
      <h4>Visualizações mais <br>curtidas</h4>
      <a href="#/tab/explore/list/Visualizações">VER TODOS</a>
    </div>

    <div id="top-visualization" class="card explore-card" ng-repeat="i in visualizations | orderBy: '-likes.length'" item="i" ng-if="$first" ng-click="openVisualizationModal(i.id); $event.stopPropagation()">
      <img ng-src="{{i.img}}">
      <div class="text-box">
        <span>{{i.name}}</span>
      </div>
      <hr>
      <div class="action-box">
          <p ng-click="i.liked = !i.liked; $event.stopPropagation()"><i class="fa" aria-hidden="true" ng-class="i.liked ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i> {{i.likes.length}}</p>
          <p><i class="fa fa-comment-o" aria-hidden="true"></i> {{i.comments.length}}</p>
        </div>
      </div>
    </div>

    <ion-scroll id="visualization" direction="x" class="scrol-list square-cards">
      <div id="visualization-card" class="card explore-card" ng-repeat="i in visualizations | orderBy: '-likes.length'" item="i" ng-hide="$first" ng-click="openVisualizationModal(i.id); $event.stopPropagation()">
        <img ng-src="{{i.img}}">
        <div class="text-box">
          <span>{{i.name}}</span>
        </div>
        <hr>
        <div class="action-box">
          <p ng-click="i.liked = !i.liked; $event.stopPropagation()"><i class="fa" aria-hidden="true" ng-class="i.liked ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i> {{i.likes.length}}</p>
          <p><i class="fa fa-comment-o" aria-hidden="true"></i> {{i.comments.length}}</p>
        </div>
      </div>
    </ion-scroll>

    <div class="explore-title">
      <h4>Tags</h4>
      <a href="#/tab/explore/list/Tags">VER TODOS</a>
    </div>

    <ion-scroll id="tags" direction="x" class="scrol-list">
      <a ng-repeat="tag in tags" item="tag" class="tag-box" href="#/tab/explore/tag-list/{{tag.id}}">
        {{tag.name}}
      </a>
    </ion-scroll>

    <div class="explore-title">
      <h4>Datasets mais usados</h4>
      <a href="#/tab/explore/list/Datasets">VER TODOS</a>
    </div>

    <ion-scroll direction="x" class="scrol-list square-cards">
      <div class="card explore-card" ng-repeat="i in datasets | orderBy: '-visualizations'" item="i" ng-click="openDatasetModal(i.id, false)" >
        <img ng-src="{{i.img}}">
        <div class="text-box">
          <span>{{i.name}}</span>
        </div>
      </div>
    </ion-scroll>

  </ion-content>
</ion-view>
