<ion-view view-title="Criar Visualização" hide-nav-bar="true">

  <ion-content id="add-visualization" class="container" has-bouncing="true">
    <div class="nav-box">
      <back-button style="visibility: hidden;" ng-click="closeStep02()"></back-button>
      <p ng-click="openStep02()">Avançar</p>
    </div>

    <h4 style="margin-bottom: 45px;"><span>1</span> Escolha um ou mais<br>datasets</h4>

    <div class="ds-card">
      <div id="notification-card-list">
        <div class="item adjust" ng-if="$first" ng-repeat="ds in datasets" ng-click="openDatasetModal(i.id)">
          <p ng-bind="ds.name"></p>
        </div>
      </div>
      <i ng-click="removeDS(0)" class="delete icon ion-ios-trash"></i>
    </div>

    <div class="icon-box" ng-click="openDatasetList()">
      <i class="plus icon ion-ios-plus-outline"></i>
      <h3>Adicionar dataset</h3>
    </div>

  </ion-content>
</ion-view>

