#events-card-list .card {
	@extend .card-basic;
	@include box-shadow($event-card-shadow);
	background-color: $event-card-background;
	margin: $event-card-margin;
	height: $event-card-height;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

	&.activated{
		@extend .cancel-border;
		@include box-shadow($event-card-shadow-click);
		background-color: $event-card-background;
	}

	img {
		top: 0 !important;
	    left: 0 !important;
	    max-width: $event-card-height !important;
	    max-height: $event-card-height !important;
	}
}