/* main */
	$background-color: #f6f6f6;
	$title-color: #8c8f91;

/* event card */
	$event-card-shadow: 0 2px 1px 0 #d6d6d6;
	$event-card-background: #fff;
	$event-card-height: 100px;
	$event-card-margin: 10px 5px;
	$event-card-shadow-click: 0 2px 6px 2px #d6d6d6;

/* category card */
	$category-card-shadow: 0 2px 1px 0 #d6d6d6;
	$category-card-background: #000;
	$category-card-height: 120px;
	$category-card-margin: 0 5px 5px 5px;
	$category-card-shadow-click: 0 2px 6px 2px #d6d6d6;

$list-item-color: #ccc;
