<ion-modal-view hide-nav-bar="true">

	<ion-content id="dataset-modal" class="container">
		<back-button ng-click="closeVisualizationModal()"></back-button>
  		<h2 class="list-title" style="margin-bottom: 10px">{{visualization.name}}</h2>
  		<hr>

		<div class="user-box">
		    <img class="avatar" ng-src="{{visualization.user.avatar}}">
			<p ng-bind="visualization.user.name"></p>
		</div>

  		<img class="img-dados" ng-src="{{visualization.img}}"/>
  		<hr>
  		<p class="description" ng-bind="visualization.description"></p>
  		<hr>




	</ion-content>
</ion-modal-view>