<div id="visualization-card" class="square-cards">
  <div class="card" ng-repeat="i in list" ng-click="openVisualizationModal(i.id); $event.stopPropagation()">
    <img ng-src="{{i.img}}">
    <div class="text-box">
      <span>{{i.name}}</span>
    </div>
    <hr>
    <div class="action-box">
		<p ng-click="i.liked = !i.liked; $event.stopPropagation()"><i class="fa" aria-hidden="true" ng-class="i.liked ? 'fa-thumbs-up' : 'fa-thumbs-o-up'"></i> {{i.likes.length}}</p>
		<p><i class="fa fa-comment-o" aria-hidden="true"></i> {{i.comments.length}}</p>
	</div>
  </div>
</div>

<!-- no results -->
<div class="no-result" ng-if="list.length  === 0">
  <img ng-src="img/bar-chart.svg" alt="">
  <h4>Ainda não existem visualizações aqui.</h4>
</div>