.container {
	padding: 3%;
	background-color: #f6f6f6;
}

body {
	letter-spacing: 0.5px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 40px;
    color: #333;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 0;
}

h3 {
    color: #8c8f91;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

h4 {
	font-family: 'Roboto Condensed', sans-serif !important;
    color: #333;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 30px;
}

ion-header-bar {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1.3px;
}
/* ion-view#account ion-header-bar {
	box-shadow: none !important;
} */

/* .tabs-striped.tabs-light .tabs {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

.platform-android .bar .title {
    font-size: 20px;
    line-height: 50px;
    font-weight: 300;
}

.button-clear.button-clear {
    color: #444;
}

#account.bar.bar-header {
	box-shadow: none !important;
}

.fa {
	color:  #333;
}

.button-icon .icon {
	color:  #333;
}

.square-cards {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square-cards .card {
  -webkit-box-shadow: 0 2px 1px 0 #d6d6d6;
  -moz-box-shadow: 0 2px 1px 0 #d6d6d6;
  -ms-box-shadow: 0 2px 1px 0 #d6d6d6;
  -o-box-shadow: 0 2px 1px 0 #d6d6d6;
  box-shadow: 0 2px 1px 0 #d6d6d6;
  background-color: #fff;
	height: 140px;
	width: 49%;
	margin:  0;
	padding:  0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3%;
}

 .square-cards .card.activated {
    -webkit-box-shadow: 0 2px 6px 2px #d6d6d6;
    -moz-box-shadow: 0 2px 6px 2px #d6d6d6;
    -ms-box-shadow: 0 2px 6px 2px #d6d6d6;
    -o-box-shadow: 0 2px 6px 2px #d6d6d6;
    box-shadow: 0 2px 6px 2px #d6d6d6;
    background-color: #fff;
}

  .square-cards .card img {
    margin-bottom: 8px;
    max-height: 100px !important;
}

.square-cards .card .text-box {
	position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0 8px;
    text-overflow: ellipsis;
}

.square-cards .card span {
    display: inline-block;
    word-wrap: break-word;
    max-height: 40px;
    line-height: 1.3em;
    text-align: left;
}

#notification-card-list .item {
  -webkit-box-shadow: 0 2px 1px 0 #d6d6d6;
  -moz-box-shadow: 0 2px 1px 0 #d6d6d6;
  -ms-box-shadow: 0 2px 1px 0 #d6d6d6;
  -o-box-shadow: 0 2px 1px 0 #d6d6d6;
  box-shadow: 0 2px 1px 0 #d6d6d6;
  background-color: #fff;
  margin: 0;
  margin-bottom: 10px;
  height: 65px;
  }
  #notification-card-list .item.activated {
    -webkit-box-shadow: 0 2px 6px 2px #d6d6d6;
    -moz-box-shadow: 0 2px 6px 2px #d6d6d6;
    -ms-box-shadow: 0 2px 6px 2px #d6d6d6;
    -o-box-shadow: 0 2px 6px 2px #d6d6d6;
    box-shadow: 0 2px 6px 2px #d6d6d6;
    background-color: #fff; }
  #notification-card-list .item img {
    max-width: 50px !important;
    max-height: 50px !important;
    left: 10px;
    top: 10px;
}

#notification-card-list .item p {
	white-space: normal;
}

#notification-card-list .item .time {
	float: right;
    font-size: 12px;
    color: #8c8f91;
}

#notification-card-list .item .name {
	font-weight: bold;
}

.scrol-list {
	margin-bottom: 25px;
}
.scrol-list .scroll {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: transform 0s ease-out 0s;
    margin: 0;
}

.tag-box {
	border: 1px solid #333;
    padding: 1px 5px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.explore-card {
	width: 155px !important;
    height: 150px !important;
    margin: 0;
    margin-right: 7px !important;
}

.explore-title {
	display:  flex;
	align-items: center;
	justify-content: space-between;
}

.explore-title a {
	color: #333;
    font-size: 11px;
    text-decoration: none;
}

.text-box {
	padding: 0 10px;
	font-size: 15px;
}

.search-list {
	font-size: 16px;
	text-decoration: none;
	color:  #333;
}

.search-list p {
	margin: 17px 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#search-tabs .tab-adjust {
	top: 100px !important;
}

#profile-tabs .tab-title, #search-tabs .tab-title {
	text-transform: uppercase;
    font-size: 11px;
}

.search-list .avatar {
	max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.search-list .user-box {
	display: flex;
    align-items: flex-end;
    margin: 13px 0;
}

.list-title {
	display: inline-block;
	margin-left: 20px;
}

#dataset-modal .img-dados {
	width: 100%;
	margin-bottom: 10px;
}

#dataset-modal .list-title {
	word-break: break-word;
	margin-left: 0;
	font-size: 33px;
	margin-top: 4px;
}

#dataset-modal .description {
	text-align: justify;
	margin: 10px 0;
}

#dataset-modal .avatar {
	max-width: 37px;
    border-radius: 50%;
    margin-right: 10px;
}

#dataset-modal .user-box {
	display: flex;
    align-items: flex-end;
    margin: 0;
}

#dataset-modal .icon {
	font-size: 14pt;
    margin-right: 5px;
}

#dataset-modal .creation-box {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-header {
	display: flex;
    justify-content: space-between;
}

.profile-header .user-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-header .avatar {
    max-width: 95px;
    border-radius: 50%;
}

.profile-header h3 {
	margin-top: 0;
}

#profile .tabs.tabs-top {
	background: #f6f6f6;
    top: 180px;
    border-top: 1px solid #ddd !important;
    left: 0;
}

#account-menu {
	display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

#account-menu .item-box {
	width: 50%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#account-menu .avatar {
    width: 64px;
}

#account-menu ul {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    height: 100%;
}

#add-visualization h4 span {
	border: 1px solid #333;
    border-radius: 50%;
    padding: 0 10px;
}

#notification-card-list .adjust {
	height: auto;
	width: 115%;
	margin-bottom: 0;
}

#add-visualization .delete {
	font-size: 22pt;
    color:  #8c8f91;
    margin: 3%;
}

#add-visualization .ds-card {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px
}

#add-visualization .icon-box {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

#add-visualization .nav-box {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

#add-visualization .icon-box h3 {
	margin: 0 15px;
	font-size: 13px;
}

#add-visualization .plus {
	font-size: 22pt;
    color:  #8c8f91;
}

.fab {
	background: #333;
    border-radius: 50%;
    padding: 5px 14px;
    color: #fff;
    position: fixed !important;
    right: 0;
    bottom: 0;
}

#add-visualization .list .item {
	border: none;
    border-bottom: 1px solid #8c8f91;
}

#add-visualization input {
    color: #8c8f91;
    letter-spacing: 0.5px;
}

 #add-visualization .item-select {
 	padding: 20px;
    background-color: #f6f6f6;
    margin-top: 35px;
 }

 #add-visualization select {
 	left: 0;
    background-color: #f6f6f6;
    letter-spacing: 0.5px;
    color: #8c8f91;
 }

.left-buttons .avatar {
    width: 40px;
    border-radius: 50%;
    border: 1px solid #333;
    height: 40px;
    margin-top: -3px;
    margin-left: -2px;
}

 .no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.action-box {
	display:  flex;
	align-items: baseline;
	justify-content: space-evenly;
	width: 50%;
}

.like-box .fa {
	font-size: 20px;
}

.like-box {
	display:  flex;
	align-items: baseline;
	justify-content: space-between;
}

.time-box {
    display: flex;
    align-items: baseline;
}

.time-box h3 {
	text-transform: none
}

.text-box {
	width: 80%;
}

.text-box p {
	margin: 0;
}

.comment-box {
    display: flex;
    align-items: center;
}

.user-name {
	font-weight: 500;
    font-size: 13px;
}

.comment-like {
	position: absolute;
    right: 0;
	font-size: 18px !important;
}

#comment-input {
	background-color: #f6f6f6 !important;
	border:  none;
}

#comment-input .item-input-wrapper {
	background-color: #fff !important;
	border: 1px solid #8c8f91 !important;
}

#comment-input textarea {
	width: 100%;
}

#comment-input button {
	background-color: #f6f6f6;
    color: #333;
    font-size: 15px;
    border: 1px solid #8c8f91;
    padding: 5px;
}

.img-icon {
	width: 25px;
    right: 0;
    position: absolute;
    margin-top: 7px;
}

.popover {
	height: 227px;
    width: 167px ;
}

.popover .container {
    padding: 0 8%;
    background: #fff;
}

#visualization-card .card {
	align-items: stretch;
    justify-content: space-between;
    height: 170px;
}

#visualization-card img {
	width: 100%;
	max-height: 95px !important;
	min-height: 95px !important;
}

#top-visualization .text-box, #visualization-card .card .text-box {
    width: 100%;
}

#top-visualization span, #visualization-card span {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#visualization-card hr {
	margin: 0;
}

#top-visualization .action-box, #visualization-card .action-box {
    justify-content: space-evenly;
    width: 100%;
}

#top-visualization .action-box p, #visualization-card .action-box p {
    font-size: 12px;
    margin: 0 0 4px;
}

#top-visualization .action-box .fa, #visualization-card .action-box .fa {
    font-size: 20px;
}

#visualization .explore-card {
    height: 170px !important;
    align-items: stretch;
    justify-content: space-between;
}


#top-visualization {
	width: 100% !important;
	height: auto !important;
    margin-bottom: 15px;
}

#top-visualization img {
	width: 100%;
    max-height: 250px;
}

#tags .scroll {
	margin-bottom: 20px;
}

.has-error {
	color: #ff4a3d;
	border-color: #ff4a3d !important;
}

#step03 img {
	width: 100%;
	bottom: 20px;
}

#step03 .card-adjust {
	width: 50%;
	align-items: center;
}

#step03 .adjust p {
	font-size: 16px;
}

#step03 .adjust {
	width: auto;
	display: flex;
    padding: 15px;
    align-items: center;
}

.color-square {
	height: 40px;
    width: 40px;
    background-color: #00d1f0;
    margin-right: 10px;
}

.popup-container .popup {
    width: 300px;
    padding: 5px;
}

.popup-title {
	color: #333;
    font-size: 18px;
    text-transform: none;
}

.popup-head {
	 padding-bottom: 0;
}

.popup-body {
	padding-top: 0;
}

.popup-body p {
	color: #8c8f91;
	margin:  15px 0 10px;
	letter-spacing: 0.5px;
}

#popup-form .list {
	border: none;
    background: transparent;
}

#popup-form .item {
	border: none;
	border-bottom: 1px solid #8c8f91;
    background: transparent;
}

#popup-form .item-select {
 	padding: 20px;
    background-color: #f6f6f6;
    margin-top: 35px;
 }

 #popup-form select {
 	left: 0;
    background-color: #f6f6f6;
    letter-spacing: 0.5px;
    color: #8c8f91;
    padding: 6px 0 5px 7px;
 }

 #popup-form .color-item {
 	border-bottom: none;
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	padding-bottom: 10px;
 }

 #popup-form .color-square {
 	height: 30px;
    width: 75px;
 }

 .button-box {
 	display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
 }

.button-box .button {
	font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 45% !important;
    line-height: 15px;
}

 .button-box .popup-ok {
	background-color: #2AC9AA;
	color:  #fff;
}

.popup-cancel {
	font-size: 11px !important;
	box-shadow: none;
    background: transparent;
    color: #333;
    font-weight: 500;
}

.button.button-positive {
    border-color: transparent;
    background-color: #2AC9AA;
    color: #fff;
}

#profile-tabs .tabs-top > .tabs{
	top: 160px !important;
    background-color: #f6f6f6;
    border-top: 1px solid #ddd !important;
}

#profile-tabs .tab-adjust {
    top: 215px !important;
}

.follow-btn {
    border: 1px solid #333;
    width: 60%;
    min-height: 27px;
    margin-top: 8px;
    line-height: 27px;
    font-size: 13px;
}

.follow-box {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.no-result {
	text-align: center;
    margin-top: 30%;
    color: #ccc !important;
}

.no-result img {
	width: 35%;
}

.no-result h4 {
	font-size: 25px;
}

.no-result h3 {
	font-size: 14px;
    text-transform: none;
    line-height: 19px;
}

.no-results i {
	font-size: 16pt;
}

#small-card.item img, #big-card.item img {
    max-width: 37px !important;
    max-height: 37px !important;
    left: 4px;
    top: 4px;
}

#small-card.item p, #big-card.item p {
	white-space: normal;
	width: 90%;
	margin-bottom: 0;
}

#small-card.item .time, #big-card.item .time {
	align-self: flex-start;
    font-size: 12px;
    color: #8c8f91;
}

#big-card.item .name {
	font-weight: bold;
}

#small-card.item.item-avatar, #big-card.item.item-avatar {
	padding: 8px;
	padding-left: 50px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-container .popup {
	background-color: #fff;
}

#login .btn-cadastro {
	background: transparent;
    border: 1px solid #2AC9AA;
    color: #2AC9AA;
    font-size: 13px;
}

#login h3 {
	font-size: 9px;
    text-align: center;
}

.popup-title {
	font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;

}

.popup-head {
	padding: 6px !important;
}

#login p {
	text-align: center;
    color: #444;
}

#login .fb {
	border: 1px solid #3b5998;
	color: #3b5998;
}

#login .google {
	border: 1px solid #d9534f;
	color: #d9534f;
}